@media (max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{

        position:absolute;
        top:80px;
        left:-100%;

        width:100%;

        background:white;

        flex-direction:column;

        text-align:center;

        gap:1.5rem;

        padding:2rem 0;

        transition:.3s;
    }

    .nav-links.active{

        left:0;

    }

}
@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        background: white;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 2rem 0;
        transition: .3s;
    }

    .nav-links.active {
        left: 0;
    }

    /* HERO */

    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
    }

    .hero-content {
        width: 100%;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image {
        width: 100%;
        justify-content: center;
    }

    .hero-image img {
        width: 260px;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-role {
        font-size: 1.5rem;
    }
}

.about-container{
    flex-direction:column;
    text-align:center;
}

.about-highlights{
    grid-template-columns:1fr;
}

@media(max-width:768px){

    .skills-grid{

        grid-template-columns:1fr;

    }

    .skills-header .section-title{

        font-size:2.2rem;

    }

    .skill-box{

        padding:25px;

    }

}
/* ==========================
   EXPERIENCE RESPONSIVE
========================== */

@media(max-width:768px){

    .experience{

        padding:70px 20px;

    }

    .experience-header{

        margin-bottom:40px;

    }

    .experience-top{

        flex-direction:column;

        align-items:flex-start;

        gap:18px;

    }

    .company-logo{

        width:60px;

        height:60px;

        font-size:1.4rem;

    }

    .experience-info h3{

        font-size:1.4rem;

    }

    .experience-status{

        margin-top:5px;

    }

    .timeline-card{

        padding:25px;

    }

    .experience-list{

        padding-left:18px;

    }

    .experience-tech{

        gap:10px;

    }

    .experience-tech span{

        font-size:.85rem;

        padding:8px 14px;

    }

}
@media(max-width:768px){

    .projects{

        padding:70px 20px;

    }

    .projects-grid{

        grid-template-columns:1fr;

    }

    .project-card{

        padding:22px;

    }

}
/* ==========================
   ACHIEVEMENTS RESPONSIVE
========================== */

@media(max-width:768px){

    .achievements{

        padding:70px 20px;

    }

    .achievements-grid{

        grid-template-columns:1fr;

    }

    .achievement-card{

        padding:25px;

    }

}