@media (max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{

        position:absolute;
        top:80px;
        left:-100%;

        width:100%;

        background:white;

        flex-direction:column;

        text-align:center;

        gap:1.5rem;

        padding:2rem 0;

        transition:.3s;
    }

    .nav-links.active{

        left:0;

    }

}